* {
  user-select: none;
}

body > #root {
  height: 100vh;
  
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
}

.screen-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black ;
  color:coral;
  font-family: 'alagard';
  font-size: x-large;
  text-transform: capitalize;
  z-index: 100;
  visibility: hidden;
  text-align: center;
  align-content: center;
}

@media only screen and (max-width: 1000px) {
  .screen-blocker {
    visibility: visible;
  }
}
@media only screen and (min-width:1001px) {
  .screen-blocker {
    visibility: hidden;
  }
}

.invisible {
  visibility: hidden;
}
 /* .card-slot::after {
  position: absolute;
  top: -20px;
  color: black;
  content: "slot";
  font-size: .8rem;
  display: block;
  padding-bottom: 100%;
} */