.game-overview-container {
    margin: 15px 0 0 15px;
    height: 63vh;
    /* border: 2px solid #000; */
    background-repeat: round;
    transform: rotate3d(5, 20, 1, 25deg);
    right: 0;
}
.game-table-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    /* border: #452312 2px solid; */
}
.game-table-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 90%;
    /* border: 3px solid aqua;     */
    position: relative;
    top:5%;

}
.game-table-container.table-ul {
    padding-top: .75%;
    padding-bottom: 1%;  
  padding-left: 1.5%;
    padding-right: 2.3%;
    left: 2%;
}
.game-table-container.table-ur {
    padding-left: 2.5%;
    padding-right: .5%;
    right: 14%;
}
.game-table-container.table-bl {
    padding-left: 1.4%;
    padding-right: 1.25%;
    left:14%;
}
.game-table-container.table-bl::before {
  content: "⚡ YOUR TABLE ⚡";
  color: yellow;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  bottom: -15%;
}
.game-table-container.table-br {
  padding-left:1.7%;
  right: 2%;
}
/* IN GAME */

.mid-counter {
  position: relative;
  font-family: 'alagard';
  left: 42.5%;
  top: 75%;
  font-size: 1.5rem;
  color: #46352b;
  /* text-shadow: 2px 2px 1px #1c2100; */
}

.table-slot {
    position: relative;
    transform: rotate3d(5, 20, 1, 5deg);
    height: 19.5%;
    top:1%;
    
    
    flex: 0 0 8.2%; /* 8.33% = 1/12 of 100% , 12 tiles on each row */
    /* border: 2px solid white; */
    /* background-color: tomato; */
} 

.table-slot > img {
    width: 97%;
    height: 98%;
    position: relative;
    
    background-color: transparent;
    background-origin: border-box;
    background-size: cover;
}

.board-container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 30vh;
    top: 65vh;

    padding: 5px 50px 5px 50px; /* needed check-on later */
    background-image: transparent;
  }
  
  .flex-container {
    display: flex;
    flex-wrap:wrap;
    row-gap: 15px;
    column-gap: .2%;
    width: 100%;
    height: 50%;
  }
  
  .card-slot {
    position: relative;
    top: 6px;
    width: 100%;
    height: 90%;
    
    flex:0 0 6.48%; /* 6.48% = 1/15 of 97.2% , 15 tiles on each row and 14 .2% gaps */
    display: flex;
    background-color: transparent;
    /* border: 2px dashed white; */
    
  }
  .card-slot::before {
    content:"";
    background: url('./assets/game/card-slot.png') center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 10px;
    left: -5%;
    width: 110%;
    height: 100%;
    color: white;
  }
  
  .left-pile::before ,
  .mid-pile::before ,
  .right-pile::before ,
  .opp-left-pile::before ,
  .opp-right-pile::before  {
    background: none;
  }
  
  .left-pile {
    top: -50vh;
    right: 5vw;
    padding: 2%;
    border: 2px black dashed;
  }

  .left-pile::before {
    background: none;
    content: "Draw";
    position: absolute;
    top: -35%;
    left: 10%;
    width: 100%;
    font-family: 'alagard';
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .opp-left-pile {
    top: -90vh;
    right:10vw;
    border: 2px black dashed;
    visibility: hidden;
  }
  
.mid-pile {
    top: -50vh;
    right: 0vw;
}
.mid-pile::before {
    content: "Draw";
    position: absolute;
    top: -35%;
    left: 10%;
    width: 100%;
    font-family: 'alagard';
    font-size: 1.6rem;
    font-weight: 600;
}
.mid-file::after {
    content: "Random";
    position: absolute;
    top: -35%;
    left: 10%;
    width: 100%;
    font-family: 'alagard';
    font-size: 1.6rem;
    font-weight: 600;
}
  .right-pile {
    top: -20vh;
    left: 63vw;
    border: 2px black dashed;
  }
  .right-pile::before {
    background: none;
    content: "Discard";
    position: absolute;
    top: -35%;
    left: -10%;
    width: 200%;
    font-family: 'alagard';
    font-weight: 600;
    font-size: 1.5rem;
    
}
  .opp-right-pile {
    top: -90vh;
    left: 55vw;
    border: 2px black dashed;
    visibility: hidden;
  }
  
  .left-pile > .game-card,
  .mid-pile > .game-card,
  .right-pile > .game-card,
  .opp-left-pile > .game-card,
  .opp-right-pile > .game-card {
    position: absolute;
    width: 110%;
    height: 110%;
  }
  
  .left-pile > .game-card > img,
  .mid-pile > .game-card > img,
  .right-pile > .game-card > img,
  .opp-left-pile > .game-card > img,
  .opp-right-pile > .game-card > img {
    animation: none;
    top:0;
    opacity: 1;
  }
  
  
  
  .game-card > img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -25px;
    opacity: .85;
    
    background-color: transparent;
    background-origin: border-box;
    background-size: cover;
    
    /* animation: cardFloat 5s infinite; */
    user-select: none; /* disable text selection won't be needed probably */
  }
  
  .game-card {
    transition: ease .5s;
  }

  .okey-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -7.5vw;
    background-size: 100%;
  }
  .okey-card::before {
    content: "Okey";
    position: absolute;
    top: -35%;
    left: 10%;
    font-family: 'alagard';
    font-size: 1.6rem;
    font-weight: 600;
    color: white;


  }

  /* Player Labels */

.label-container {
    position: absolute;
    /* border: 2px solid black; */
    top: 10vh;
    left: 5vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    row-gap: 2vh;
    column-gap: 2vw;
  }
  
  h3.player-label {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px brown;
  }
  h3.player-label.label-turn {
    color: yellow;
    text-shadow: 2px 2px 2px black;
  }
  h3.player-label.label-turn::before {
    content: "⚡";
    color: red;
    text-shadow: 2px 2px 2px black;
  }
  
  /* .label-bot {
  }
  .label-right {
  }
  .label-left {
  }
  .label-top {
  } */

  /* pers and points */
  .per-pts-text {
    position: absolute;
    bottom: 10%;
    font-size: 1.3rem;
    left: 2%;
    color: #ffd600;
    font-weight: 600;
    color: #ffd600;
    text-shadow: 2px 2px 3px black;
  }
  .per-pts-text::before{
    content:"Per Points = ";
    font-family: 'alagard'; 
    font-weight: 600;
    color: #ffd600;
    text-shadow: 2px 2px 3px black;
  }
  .per-count-text {
    position: absolute;
    bottom: 15%;
    font-size: 1.4rem;
    left: 2%;
    color: #1c2100;
    font-weight: 600;
    color: #ffd600;
    text-shadow: 2px 2px 3px black;
  }
  
  .per-count-text::before{
    content:"Per Count = ";
    font-family: 'alagard';
    font-weight: 600;
    color: #ffd600;
    text-shadow: 2px 2px 4px black;
  }

  .per-openable-text.per-pts-text {
    color:green;
    text-shadow: 2px 2px 4px black;
  }
  .per-pts-text.per-openable-text::before {
    color:green;
    content: 'Openable < ';
    text-shadow: 2px 2px 4px #665608;
  }
  .per-pts-text.per-openable-text::after {
    color:green;
    content: '>';
  }

  .open-hand-btn {
    position: absolute;
    font-family: 'alagard' !important; 
    bottom: 5%;
    left:2%;
    width: 8%;
    height: 5%;
  }

  /*  Round over  */
  .round-over-container {
    width: 100%;
    height: 75vh;
  }
  .modal-body {
    background: url('./assets/menu/round_over.png') center no-repeat !important;
    background-size: cover !important;
    border-radius: 5px !important;
    padding:0 !important;
  }
  .modal {
    background-color: transparent !important;
  }
  .round-over-content {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
    background-color: transparent;
    color: white;
    font-family: 'alagard';
  }
  ul {
    list-style-type: none;
  }

