.game-overview-container {
    margin: 15px 0 0 15px;
    height: 70vh;
    border: 2px solid #000;
    background: url('./assets/game/game-bg.png') no-repeat ;
    background-repeat: round;
}
.game-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-table-container {
    width: 75%;
    height: 90%;
    border: 1px solid #452312;    
    position: relative;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: .2vh;
    column-gap: .1vw;
    padding: 4px 10px 4px 6px;
}
.game-table-container.table-ul {
    left: 2%;
}
.game-table-container.table-ur {
    right: 14%;
}
.game-table-container.table-bl {
    left:14%;
}
.game-table-container.table-br {
    right: 2%;
}

/* IN GAME */
.table-slot {
    position: relative;

    border: 2px solid white;
    background-color: tomato;
} 