@font-face {
    font-family: 'alagard';
    src: url('./assets/fonts/alagard.ttf') format('truetype');
}
.main-menu-container ,
.waiting-menu-container {
    height: 100vh;
    background: url('./assets/menu/main_menu_bg2.gif') no-repeat fixed center;
    background-size:cover;
}
.game-route-bg {
    position: absolute;
    height: 100vh;
    overflow-y: hidden;
    /* background-color: aquamarine; */
    /* background: url('./assets/game/game-bg.png') no-repeat;
    background-size: 1150px 580px; */
}

.zeroK-logo {
    opacity: .90;
    animation: pulse 5s infinite;
}

.open-hand-btn {
    position: absolute;
    bottom: 15vh;
    right: 2vw;
}

.calculate-per-btn {
    position: absolute;
    bottom: 20vh;
    right: 2vw;
}

.scaleUp:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

.start-btn {
    height: 100px;
    width: 200px;
    background: url('./assets/menu/start-btn.png') no-repeat center;
    background-color: transparent;
    background-origin: border-box;
    background-size: contain;
}
.start-btn:hover {
    background-image: url('./assets/menu/start-btn_hover.png');
}
.connected-wallet-info {
    font-family: 'alagard';
    color: white;
    position: absolute;
    top: 0px;
    -webkit-text-stroke: #ffab0f 1px;
}

.connect-wallet-btn {
    height: 100px;
    width: 200px;
    background: url('./assets/menu/connect-wallet.png') no-repeat center;
    background-color: transparent !important;
    background-origin: border-box;
    background-size: contain;
}
.connect-wallet-btn:hover {
    background-image: url('./assets/menu/connect-wallet_hover.png');
}
.connect-wallet-btn:disabled {
    background-image: url('./assets/menu/connect-wallet_connected.png');
}

.tutorial-btn {
    height: 100px;
    width: 200px;
    background: url('./assets/menu/tutorial-btn.png') no-repeat center;
    background-color: transparent;
    background-origin: border-box;
    background-size: contain;
}
.tutorial-btn:hover {
    background-image: url('./assets/menu/tutorial-btn_hover.png');
}

.go-back-btn{
    font-size: 1.75rem !important;
    font-family: 'alagard' !important;
}
.text-waiting {
    font-size: 3rem ;
    font-family: 'alagard' ;
    font-weight: 400;
    color:#ffab0f ;
} 


.showcase-container {
    position: relative;
    top: -20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 40%;
}
.showcase-container > img {
    position: absolute;
    width: 90%;
    background-color: transparent;
    background-origin: border-box;
    background-size: cover;
    transition: linear;
    animation: cardFloat 3s infinite;
}
.showcase-container img:nth-child(1) {
    bottom: 20%;
    z-index: 0;
}
.showcase-container img:nth-child(2) {
    top: 20%;
    z-index: 3;
}
.showcase-container img:nth-child(3) {
    left: -65%;
    z-index: 2;
}
.showcase-container img:nth-child(4) {
    right: -65%;
    z-index: 1;
}
.showcase-container img:nth-child(5) {
    width: 250%;
    top: 55%;
    z-index: 2;
    animation: none;
}

.showcase-container img:hover {
    animation: cardRotate 1s alternate;
    animation-timing-function:ease-in-out;
}
.showcase-container img:nth-child(5) {
    animation: none;
}

.not-found-container > img {
    position: relative;
    right: -35%;
}

.cat-speek {
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: 'alagard';
    animation: colorChange 3s infinite
}


@keyframes cardFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes colorChange {
    0% {
        color: black;
    }
    50% {
        color: rgb(210, 1, 1);
    }
    100% {
        color: black;
    }
    
}

@keyframes cardRotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes logoAnimation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .9;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .9;
    }
  }